In [9]:
# 4.13
l1 = ['1', '123', '123', '12', '1', '123']
l2 = [len(i) for i in l1]
l2

[1, 3, 3, 2, 1, 3]

In [10]:
# 4.14
l1 = ['1', '123', '123', '12', '1', '123']
cnt = sum(1 for i in l1 if len(i) > 2)
cnt

3

In [13]:
# 4.15
d4 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
result = sum(k*v for k, v in d4.items())
result

910

In [14]:
# 4.16
d6 = {'e': 20, 'f': 21, 'g': 22, 'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}
d5 = {'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e': 7, 'f': 8, 'g': 9}
d7 = k: v for k, v in d6.items() if k not in d5
    d7

SyntaxError: invalid syntax (1852747203.py, line 3)

In [15]:
# 4.17
l2 = [2, 4, -2, -3, 0, 11, 3, -1]
result = [num * idx if type(num) == int else num for idx, num in enumerate(l2)]
print(result)

[0, 4, -4, -9, 0, 55, 18, -7]

In [18]:
# 4.18
l2 = [2, 4, -2, -3, 0 , 11 , 3, -1] 
lst = [x for x in l2 if x >= 0]
print(lst)

[2, 4, 0, 11, 3]

In [19]:
# 4.19
l2 = [2, 4, -2, -3, 0 , 11 , 3, -1] 
result = [num if num >= 0 else idx for idx, num in enumerate(l2)]
print(result)

[2, 4, 2, 3, 0, 11, 3, 7]

In [20]:
# 5.1
def multiply_numbers(num1, num2):
    """
    Функция умножения двух чисел.

    Args:
    num1 (int, float): Первое число для умножения.
    num2 (int, float): Второе число для умножения.

    Returns:
    int, float: Результат умножения двух чисел.

    Функция принимает два числа и возвращает их произведение.
    """

    return num1 * num2

# Примеры использования функции
result1 = multiply_numbers(5, 3)
print(result1)  # Выведет: 15

result2 = multiply_numbers(2.5, 4)
print(result2)  # Выведет: 10.0

15
10.0

In [21]:
# 5.2
def multiply_numbers(*args):
    """
    Функция умножения от одного до трех чисел.

    Args:
    *args (int, float): Числа для умножения (от 1 до 3 чисел).

    Returns:
    int, float: Результат умножения чисел.

    Функция принимает от 1 до 3 чисел и возвращает их произведение.
    """

    result = 1
    for num in args:
        result *= num
    return result

# Примеры использования функции с разным количеством параметров
result1 = multiply_numbers(5)
print(result1)  # Выведет: 5

result2 = multiply_numbers(2, 3)
print(result2)  # Выведет: 6

result3 = multiply_numbers(4, 2, 1.5)
print(result3)  # Выведет: 12.0

5
6
12.0

In [32]:
# 5.3
def multiply_numbers(*args):
    """
    Функция умножения от одного до трех чисел.

    Args:
    *args (int, float): Числа для умножения (от 1 до 3 чисел).

    Returns:
    int, float: Результат умножения чисел.

    Функция принимает от 1 до 3 чисел и возвращает их произведение.
    """
    if len(args) > 3:
        return "Функция принимает от одного до трех параметров"
    result = 1
    
    for num in args:
        result *= num
    return result

# Примеры использования функции с разным количеством параметров
result1 = multiply_numbers(15,10,5)
print(result1)  

result2 = multiply_numbers(3, 1)
print(result2)  

result3 = multiply_numbers(2, 35, 55)
print(result3)  

result4 = multiply_numbers(5, 10 ,15)
print(result4)

result5 = multiply_numbers(20, 10 ,15)
print(result5)

750
3
3850
750
3000

In [31]:
# 5.4
def multiply_numbers(*args):
    """
    Функция умножения от одного до трех чисел.

    Args:
    *args (int, float): Числа для умножения (от 1 до 3 чисел).

    Returns:
    int, float: Результат умножения чисел.

    Функция принимает от 1 до 3 чисел и возвращает их произведение.
    """
    result = 1
    
    for num in args:
        result *= num
    return result

# Примеры использования функции с разным количеством параметров
result1 = multiply_numbers(15,10,5)
print(result1)  

result2 = multiply_numbers(3, 1)
print(result2)  

result3 = multiply_numbers(2, 35, 55)
print(result3)  

result4 = multiply_numbers(5, 10 ,15)
print(result4)

result5 = multiply_numbers(20, 10 ,15)
print(result5)

750
3
3850
750
3000

In [33]:
# 5.5
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y != 0:
        return x / y
    else:
        return "Деление на ноль невозможно"

# Запросить у пользователя выбор арифметической операции
operation = input("Выберите операцию (+, -, *, /): ")

# Запросить у пользователя два целых числа
num1 = int(input("Введите первое целое число: "))
num2 = int(input("Введите второе целое число: "))

# Выполнить выбранную операцию
if operation == '+':
    result = add(num1, num2)
elif operation == '-':
    result = subtract(num1, num2)
elif operation == '*':
    result = multiply(num1, num2)
elif operation == '/':
    result = divide(num1, num2)
else:
    result = "Некорректная операция"

print(f"Результат выполнения операции: {result}")

Выберите операцию (+, -, *, /): +
Введите первое целое число: 5
Введите второе целое число: 6
Результат выполнения операции: 11

In [34]:
# 5.6
def calc(expression):
    # Разделить строку на число, операцию и число
    parts = expression.split()
    num1 = int(parts[0])
    operator = parts[1]
    num2 = int(parts[2])

    # Выполнить операцию в зависимости от символа оператора
    if operator == '+':
        return num1 + num2
    elif operator == '-':
        return num1 - num2
    elif operator == '*':
        return num1 * num2
    elif operator == '/':
        if num2 != 0:
            return num1 // num2
        else:
            return "Деление на ноль невозможно"
    elif operator == '%':
        if num2 != 0:
            return num1 % num2
        else:
            return "Деление на ноль невозможно"
    elif operator == '^':
        return num1 ** num2
    else:
        return "Некорректная операция"

# Пример использования функции
result = calc('13 - 5')
print(f"Результат: {result}")

Результат: 8

In [35]:
# 5.7
def print_car_info(**kwargs):
    car_info = {
        'марка': 'неизвестно',
        'модель': 'неизвестно',
        'цвет': 'неизвестно',
        'год выпуска': 'неизвестно',
        'пробег': 'неизвестно',
        'номерной знак': 'неизвестно',
        'цена': 'неизвестно'
    }
    
    car_info.update(kwargs)
    
    message = f"Автомобиль марки: {car_info['марка']}, модели: {car_info['модель']}, цвета: {car_info['цвет']}, " \
              f"{car_info['год выпуска']} года выпуска, с пробегом: {car_info['пробег']} км, " \
              f"c номерным знаком: {car_info['номерной знак']}, цена: {car_info['цена']} руб."
    
    print(message)

# Пример использования функции для словаря c1
c1 = {
    'марка': 'BMW',
    'модель': 'X5',
    'цвет': 'белый',
    'год выпуска': 2006,
    'пробег': '215 000',
    'номерной знак': 'X012АМ77',
    'цена': '1 115 000'
}

print_car_info(**c1)

# Пример использования функции для словаря c2
c2 = {
    'марка': 'Audi',
    'модель': 'A4',
    'год выпуска': 2012,
    'пробег': '120 000',
    'цена': '800 000'
}

print_car_info(**c2)

Автомобиль марки: BMW, модели: X5, цвета: белый, 2006 года выпуска, с пробегом: 215 000 км, c номерным знаком: X012АМ77, цена: 1 115 000 руб.
Автомобиль марки: Audi, модели: A4, цвета: неизвестно, 2012 года выпуска, с пробегом: 120 000 км, c номерным знаком: неизвестно, цена: 800 000 руб.

In [36]:
# 5.8
def to_text(number):
    units = ['ноль', 'один', 'два', 'три', 'четыре', 'пять', 'шесть', 'семь', 'восемь', 'девять']
    teens = ['десять', 'одиннадцать', 'двенадцать', 'тринадцать', 'четырнадцать', 'пятнадцать', 'шестнадцать',
             'семнадцать', 'восемнадцать', 'девятнадцать']
    tens = ['', '', 'двадцать', 'тридцать', 'сорок', 'пятьдесят', 'шестьдесят', 'семьдесят', 'восемьдесят', 'девяносто']

    if number < 10:
        return units[number]
    elif number < 20:
        return teens[number - 10]
    else:
        return f"{tens[number // 10]} {units[number % 10]}"

# Пример использования функции
print(to_text(15))  # Пятнадцать
print(to_text(42))  # Сорок два

пятнадцать
сорок два

In [37]:
# 5.9
def to_int(text):
    numbers = {
        'ноль': 0, 'один': 1, 'два': 2, 'три': 3, 'четыре': 4, 'пять': 5, 'шесть': 6,
        'семь': 7, 'восемь': 8, 'девять': 9, 'десять': 10, 'одиннадцать': 11, 'двенадцать': 12,
        'тринадцать': 13, 'четырнадцать': 14, 'пятнадцать': 15, 'шестнадцать': 16,
        'семнадцать': 17, 'восемнадцать': 18, 'девятнадцать': 19, 'двадцать': 20,
        'тридцать': 30, 'сорок': 40, 'пятьдесят': 50, 'шестьдесят': 60,
        'семьдесят': 70, 'восемьдесят': 80, 'девяносто': 90, 'сто': 100,
        'двести': 200, 'триста': 300, 'четыреста': 400, 'пятьсот': 500,
        'шестьсот': 600, 'семьсот': 700, 'восемьсот': 800, 'девятьсот': 900
    }
    
    words = text.split()
    result = 0
    temp = 0
    
    for word in words:
        if word in numbers:
            temp += numbers[word]
        else:
            result += temp
            temp = numbers[word]
    
    result += temp
    
    return result

# Пример использования
print(to_int('тридцать три'))  # Выведет: 33

33

In [38]:
# 6.1
def to_int(text):
    numbers = {
        'ноль': 0, 'один': 1, 'два': 2, 'три': 3, 'четыре': 4, 'пять': 5, 'шесть': 6,
        'семь': 7, 'восемь': 8, 'девять': 9, 'десять': 10, 'одиннадцать': 11, 'двенадцать': 12,
        'тринадцать': 13, 'четырнадцать': 14, 'пятнадцать': 15, 'шестнадцать': 16,
        'семнадцать': 17, 'восемнадцать': 18, 'девятнадцать': 19, 'двадцать': 20,
        'тридцать': 30, 'сорок': 40, 'пятьдесят': 50, 'шестьдесят': 60,
        'семьдесят': 70, 'восемьдесят': 80, 'девяносто': 90
    }
    
    words = text.split()
    result = 0
    temp = 0
    
    for word in words:
        if word in numbers:
            temp += numbers[word]
        else:
            result += temp
            temp = numbers[word]
    
    result += temp
    
    return result

def to_text(num):
    numbers = {
        0: 'ноль', 1: 'один', 2: 'два', 3: 'три', 4: 'четыре', 5: 'пять', 6: 'шесть',
        7: 'семь', 8: 'восемь', 9: 'девять', 10: 'десять', 11: 'одиннадцать', 12: 'двенадцать',
        13: 'тринадцать', 14: 'четырнадцать', 15: 'пятнадцать', 16: 'шестнадцать',
        17: 'семнадцать', 18: 'восемнадцать', 19: 'девятнадцать', 20: 'двадцать',
        30: 'тридцать', 40: 'сорок', 50: 'пятьдесят', 60: 'шестьдесят',
        70: 'семьдесят', 80: 'восемьдесят', 90: 'девяносто'
    }
    
    if num in numbers:
        return numbers[num]
    
    tens = (num // 10) * 10
    ones = num % 10
    
    return numbers[tens] + " " + numbers[ones]

def calc(expression):
    operations = {
        "плюс": lambda x, y: x + y,
        "минус": lambda x, y: x - y,
        "умножить": lambda x, y: x * y
    }
    
    parts = expression.split()
    
    num1 = to_int(parts[0])
    num2 = to_int(parts[2])
    
    result = operations[parts[1]](num1, num2)
    
    return to_text(result)

# Пример использования
print(calc('двадцать пять плюс тринадцать')) # Выведет: "тридцать восемь"

KeyError: 'плюс'